<div class="main-div">
    <div class="login-div" [formGroup]="loginForm">
        <h2>Medibuddy Login!</h2>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input type='Email' matInput formControlName="email" placeholder="Email">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input type='password' matInput formControlName="password" placeholder="Password">
        </mat-form-field>

    </div>
</div>