<div class="nav">
      <span class="medibuddy">MediBuddy</span>
      <span class="example-spacer"></span>
      
      <div *ngIf="user.loggedIn === true">
        <button mat-icon-button class="example-icon" [matMenuTriggerFor]="cart">
          <mat-icon>shopping_cart</mat-icon>
        </button>
        <mat-menu #cart="matMenu">
          <button mat-menu-item *ngFor="let each of user.result.cart">{{each.itemName}} X {{each.quantity}}</button>
          <button mat-menu-item style="background-color: #FFBF00">Go to: Order Medicines Online</button>
        </mat-menu>

        <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Logged in as: {{user.email}}</button>
          <button mat-menu-item>Orders</button>
          <button mat-menu-item>Log Out</button>
        </mat-menu>
      </div>

      
</div>