.nav{
    width: 100%;
    height: 50px;
    background-color: slategray;
    display: flex;
    align-items: center;
}

.example-spacer {
    flex: 1 1 auto;
}

.example-icon{
    background-color: slategray;
    border: 0px;
    color: white;
    margin-right: 1rem;
}

.MediBuddi{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    color: white;
    margin-left: 1rem;
}


::ng-deep.mat-menu-panel {
    max-width:fit-content !important;
}