.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 91.9vh;
    background-color: white;
    color: black;
    flex-direction: row;
}

.broken{
    width: 500px;
    height: 500px;
}